.searchTable{
  margin-top: 1em;
  margin-bottom: 0em;
}

.dropdownitem {
    text-align: right;

}
.viewButton {
  float: right;
  font-weight: bold;
}

.dropdownbutton {
  font-weight: bold;
  margin-right: 1em;
}