
.c1 {
  background: green;
}
.c2 {
  background: orange;
}
.c3 {
  background: blue;
}
.c4 {
  background: yellowgreen;
}
.c5 {
  background: black;
}
.c6 {
  background: pink;
}
.c7 {
  background: gray;
}
.c8 {
  background: navy;
}
.c9 {
  background: green;
}
.c10 {
  background: orange;
}
.c11 {
  background: blue;
}
.c12 {
  background: yellowgreen;
}
.c13 {
  background: black;
}
.c14 {
  background: pink;
}
.c15 {
  background: gray;
}
.c16 {
  background: navy;
}
.c17 {
  background: green;
}
.c18 {
  background: orange;
}
.c19 {
  background: blue;
}
.c20 {
  background: yellowgreen;
}
.c21 {
  background: black;
}
.c22 {
  background: pink;
}
.c23 {
  background: gray;
}
.c24 {
  background: navy;
}