.frontPage {
  width: 100%;
  margin-top: -2em;
  padding-top: 20em;
  padding-bottom: 10em;

  background-image: url("'../../assets/smartphone.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 540px) {
  .frontPage {
    background-size: 100% auto;
  }
}
@media screen and (min-width: 540px) and (max-width: 780px) {
  .frontPage {
    background-size: 100% auto;
  }
}
@media screen and (min-width: 780px) {
  .frontPage {
    padding-top: 23em;
    background-size: 60% auto;
  }
}

.info {
  margin-top: -5em;
  color: black;
  font-weight: bold;
  text-align: right;
}
.grid {
  padding-top: 0em;
  width: 100%;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}
.link:active {
  text-decoration: none;
}
.thumbContainer {
  text-align: center;
  min-height: 17em;
}
.thumbnail {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  max-height: 17em;
  max-width: 17em;
  width: 100%;
  padding: 0em;
  position: relative;
  top: 0;
  left: 0;
}

.title {
  color: #333;

  padding: 1px;
  margin-left: 1em;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.cat {
  background: orange;
}

.headerStyle {
  width: 20%;
  text-align: 'center';
  color: #008a42;
}
.listItem {
  background: rgba(255, 255, 255, 0.76);
  height: 30em;
  margin-top: 30px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);

  transition: all 0.2s ease-in-out;
}

.listItem:hover {
  transform: scale(1.05);
}


